li a {
    color: green;
    background-color: blanchedalmond;
}

body {
    background: white url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu_K4OJnqcHvHtJnzTxgiOQuJVHebdDbV4wg&s");
    background-size: cover;
}
